* {
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
#header {
  padding: 30px 0;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.header a {
  margin-left: 30px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

#hero {
  padding: 158px 0 71px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text h1 {
  color: var(--Dark-Color, #21243d);
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}
.hero-text p {
  margin: 40px 0 38px 0;
  width: 497px;
  color: var(--Dark-Color, #21243d);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.hero-text button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: var(--Primary, #ff6464);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

#post {
  padding: 32px 0;
  background: #edf7fa;
}
.post-top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-top h3 {
  color: var(--Dark-Color, #21243d);
  font-size: 22px;
  font-weight: 400;
}
.post-top a {
  color: var(--Secondry, #00a8cc);
  font-size: 16px;
  font-weight: 400;
}
.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-bottom h2 {
  width: 374px;
  color: var(--Dark-Color, #21243d);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}
.post-bottom h4 {
  margin: 17px 0 11px 0;
  color: var(--Dark-Color, #21243d);
  font-size: 18px;
  font-weight: 400;
}
.post-bottom h4 span {
  margin: 0 15px;
}
.post-bottom p {
  width: 368px;
  color: var(--Dark-Color, #21243d);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.post-bottom .box {
  width: 375px;
  height: 185px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  padding: 20px;
}
#work {
  padding: 15px 0 87px 0;
}
.work h2 {
  color: var(--Dark-Color, #21243d);
  font-size: 22px;
  font-weight: 400;
}
.work-box {
  margin: 45px 0;
  display: flex;
  align-items: center;
}
.work-text {
  margin-left: 20px;
}
.work-text h3 {
  color: var(--Dark-Color, #21243d);
  font-size: 30px;
  font-weight: 700;
}
.work-text .date {
  margin: 34px 0 15px 0;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-text .date h6 {
  text-align: center;
  width: 62px;
  height: 25px;
  line-height: 25px;
  border-radius: 16px;
  background: #142850;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}
.work-text .date h5 {
  color: var(--Light, #8695a4);
  font-size: 20px;
  font-weight: 400;
}

.work-text p {
  width: 594px;
  color: var(--Dark-Color, #21243d);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.line {
  height: 3px;
  background-color: #8695a4;
}
#footer {
  padding: 54px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons span {
  width: 40px;
  height: 50px;
  line-height: 65px;
  border-radius: 10px;
  padding: 2px 7px;
  background-color: #21243d;
  color: #fff;
  font-size: 40px;
}

.footer h3 {
  margin-top: 26px;
  color: var(--Dark, #21243d);
  font-size: 18px;
  font-weight: 400;
}
